<div>
  <nav class="navbar navbar-expand-sm navbar-light">
    <a class="navbar-brand" routerLink="employeeList">Employee'Z</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" routerLink="addEmployee">AddEmployee</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="employeeList">EmployeeList</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="deleteEmployee">DeleteEmployee</a>
          </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="login">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="">Update</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="register">Register</a>
        </li>
      </ul>
    </div>
  </nav>
</div>
<router-outlet></router-outlet>
<footer> *** Register Employee Details *** </footer>