
 <div id="entry">
    <form [formGroup] ="entryForm" (ngSubmit)="collectData()">
        <div *ngIf="alert" class="alert alert-success alert-dismissible fade show col-sm-6" role="alert">
            <strong>Success Message</strong> You entered data successfully!
            <button (click)="closeAlert() "type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="form-group col-sm-4">
            <label>Employee Name</label>
            <input type="text" class="form-control" formControlName="employee_name" placeholder="Employee Name">
        </div>
        <div class="form-group col-sm-4">
            <label>EmployeeSalary</label>
            <input type="text" class="form-control"  formControlName="employee_salary" placeholder="EmployeeSalary">
        </div>
        <div class="form-group col-sm-4">
                <label>EmployeeAge</label>
                <input type="text" class="form-control"  formControlName="employee_age" placeholder="EmployeeAge">
            </div>
        <div class="form-group col-sm-4">
            <label>ProfileImage</label>
            <input type="text" class="form-control"  formControlName="profile_image" placeholder="ProfileImage">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
