header{
    background-color:aqua;
    text-align: center;
    font-size: 30px;
}

footer{
    padding:10px;
    background-color:cadetblue;
    text-align: center;
    font-size: 20px;
}

#link{
    margin-top: 20px;
    margin-bottom: 20px;
}